.add_pin_modal { /*making main modal*/
    width: 100%; 
    height: 100%;
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999999;
  
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .add_pin_container { /*making the container*/
    padding: 35px;
    width: 880px;
    height: 674px;
    border-radius: 16px; /*curved corners*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden; /*hide overflow*/
    display: flex;
  
    background-color: #ffffff;
  }
  
  .side { /*do the side*/
    padding: 20px;
    width: 50%;
    height: 100%;
  }
  
  #left_side { /*keep whats below*/
    /* background-color: orang e; */
  }
  
  #right_side {/*keep whats below. at this point there should be blue on left and orange on right*/
    /* background-color: blue; */
  }
  
  .pint_mock_icon_container { /*copy and paste code including pin_mock_icon from pin_styles.css so that the icons are proper sized*/
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  
    background-color: #f0f0f0;
    cursor: pointer;
  }
  
  .pint_mock_icon {
    width: 50%;
  }
  
  .section1 {  /*now gonna do section one*/
    width: 100%;
    height: 8%;
    /*keep code below*/
    /* background-color: purple; */
  }
  
  .section2 { /*now gonna do section two*/
    padding: 0px 10px;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column; /*because we want everythig ontop of one another*/
    justify-content: center;
    align-items: center;
    
    /*keep code below*/
    /* background-color: aquamarine; */
  }
  
  .section3 {
    width: 100%;
    height: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
        /*keep code below*/
    /* background-color: firebrick; */
  }
  
  #left_side .section1 .pint_mock_icon_container { /*working on the ellipse on upper left hand side*/
    width: 40px;
    height: 40px;
  
    background-color: rgba(239, 239, 239, 0);
    transition-duration: 0.3s;
  }
  
  #left_side .section1 .pint_mock_icon_container:hover { /*1. so that when we hover it will change color to white*/
    background-color: rgba(239, 239, 239, 1);
  }
  
  #left_side .section2 #upload_img_label { /*2. in section 2, we need to do grey box, then dotted border portion, then the innards
    so were first doing the label bcs grey box is in the label (user doesnt see the label)*/
    width: 100%;
    height: 100%;
  
    cursor: pointer;
  }
  
  #left_side .section2 #upload_img_label input {  /*6. this is going to hide the input on the screen! */
    width: 0px;
    height: 0px;
    opacity: 0;
  }
  
  #left_side .section2 #upload_img_label .upload_img_container { /*3. this is grey box */
    padding: 10px;
    width: 100%;
    height: 100%;
    border-radius: 8px;
  
    background-color: #efefef;
  }
  
  #left_side .section2 #upload_img_label .upload_img_container #dotted_border { /*4. dotted border*/
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: 2px dashed #dadada; /*dashed makes it dotted border*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  #left_side .section2 .pint_mock_icon_container { /* 5 gonna do the upper right arrow container*/
    background-color: #767676;
  }
  
  #left_side .section3 .save_from_site { /*7. makingwhere it says "save from site" the way its supposed to look */
    width: 340px;
    height: 48px;
    border-radius: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
  
    font-weight: 700;
  
    background-color: #efefef;
  }
  
  .modals_pin {
    width: 252px;
    height: 512px;
    border-radius: 16px;
    position: relative;
    display: none;
    opacity: 0;
  
    overflow: hidden;
  }
  
  .pin_image {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* .pin_image img {
    max-height: 100%;
  } */
  
  .pin_max_width {
    max-width: 100%;
  }
  
  .pin_max_height {
    max-height: 100%;
  }
  
  #right_side .section1 {
    display: flex;
    justify-content: flex-end;
  }
  #right_side .section1 .select_size{
    width: 236px;
    height: 40px;
    display: flex;
  }
  
  #right_side .section1 .select_size select{
    width: 70%;
    height: 100%;
    border:none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    outline: none;
  
    font-size: 16px;
  
    background-color: #EFEFEF;
  }
  
  #right_side .section1 .select_size .save_pin{
    width: 30%;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  
    font-weight: 700;
  
    color: white;
    background-color: #E60023;
    cursor: pointer;
  }
  
  #right_side .section2 .new_pin_input {
    margin-bottom: 20px;
    width: 100%;
    height: 50px;
    border: none;
    border-bottom: 2px solid #C6C6C6;
    outline: none;
  
    font-size: 16px;
  
    background-color: transparent;
  }